* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f8f9fa;
    border-radius: 0px 0px 10px 10px;
    /* padding: 4px 0; */
    box-shadow: 0px 1px 10px 3px #f26f21;
}

.navbar {
    border-radius: 0px 0px 10px 10px;
}

.navbar-logo img {
    max-width: 100%;
    height: auto;
}

.navbar-title {
    margin-top: 16px;
    margin-left: 10px;
    font-size: 17px;
}

.item-menu {
    margin-top: 10px;
    padding: 0px 10px;
}

.ava-profile img {
    border-radius: 50%
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translateY(-50%);
}

.contact {
    /* padding: 50px 0; */
    text-align: center;
}

.contact h1 {
    font-size: 36px;
    font-weight: 900;
}

.content p {
    font-size: 18px;
    color: #000000;
}

figcaption {
    color: #f26f21;
    font-weight: 700;
}

.ModuleContent {
    background-color: #f8f8f8;
    border-radius: 7px;
    padding: 20px 0px;
    text-align: left;
}

.info {
    padding-left: 20px;
}

.info a {
    text-decoration: none;
    color: #666666;
}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1.5em;
    height: 1.5em;
}

.lnr-map-marker {
    color: #666666;
    font-size: 20px;
}

.lnr-phone-handset {
    color: #666666;
    font-size: 20px;
}

.lnr-envelope {
    color: #666666;
    font-size: 20px;
}